# Created by lance .ignore support plugin (hsz.mobi)
*.class
.classpath
.project
.settings
.metadata
*stdout.log
*debug.log
.gradle
.idea
.recommenders
*.sh
target
target/
*.iml

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Log file
*.log
