<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.financial.goods.dao.FinancialSpuMapper">
  <resultMap id="BaseResultMap" type="com.financial.model.FinancialSpu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="brand_category_id" jdbcType="INTEGER" property="brandCategoryId" />
    <result column="sale_able" jdbcType="INTEGER" property="saleAble" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapToVo" type="com.financial.goods.vo.FinancailSpuVo">
    <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
    <result column="brand_name" jdbcType="VARCHAR" property="brandName"/>
    <result column="category_id" jdbcType="INTEGER" property="categoryId"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, title, brand_id, sale_able, valid, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from financial_spu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from financial_spu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.financial.model.FinancialSpu">
    insert into financial_spu (id, title, brand_id,
      sale_able, valid, create_time,
      update_time,brand_category_id)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{brandId,jdbcType=INTEGER},
      #{saleAble,jdbcType=INTEGER}, #{valid,jdbcType=INTEGER}, #{createTime,jdbcType=DATE},
      #{updateTime,jdbcType=DATE}, #{brandCategoryId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.financial.model.FinancialSpu">
    insert into financial_spu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="saleAble != null">
        sale_able,
      </if>
      <if test="valid != null">
        valid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="saleAble != null">
        #{saleAble,jdbcType=INTEGER},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.financial.model.FinancialSpu">
    update financial_spu
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="saleAble != null">
        sale_able = #{saleAble,jdbcType=INTEGER},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.financial.model.FinancialSpu">
    update financial_spu
    set title = #{title,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=INTEGER},
      sale_able = #{saleAble,jdbcType=INTEGER},
      valid = #{valid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=DATE},
      update_time = #{updateTime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getList" resultMap="ResultMapToVo" >
    SELECT fs.*,fbc.brand_name,fbc.category_id FROM financial_spu fs
    LEFT JOIN financial_brand_category fbc on fbc.id = fs.brand_category_id
     ${sqlString}
  </select>
</mapper>
